#footer
  .wrap
    %p Better Carbon is a research project by Social Code Group at the University of California, Irvine.
    %ul
      %li= link_to('Social Code Group', 'http://www.ics.uci.edu/~wmt/socialCodeGroup/')
      %li= link_to('University of California, Irvine', 'http://www.uci.edu/')
      %li= link_to('Calit2', 'http://www.calit2.uci.edu/')