= javascript_tag "$(document).ready(function() {#{yield(:jquery_onload_js)}});" unless yield(:jquery_onload_js).blank?
= render(:partial => 'layouts/sections/google_analytics') if Rails.env != 'development'