%link{:rel => "apple-touch-icon", :href => "/images/favicon_iphone.png"}
%link{:rel => "shortcut icon", :type => "image/x-icon", :href => "/favicon.ico"}
%meta{'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}
%meta{'http-equiv' => "PRAGMA", :content => "NO-CACHE"}
%meta{:name => "description", :content => 'BetterCarbon is a brand-new way of calculating and visualizing carbon emissions and our impact on the environment.'}
%meta{:name => "keywords", :content=> 'environment carbon footprint eco-friendly calculator green'}