#content-panel
  .wrap#content-panel-wrap
    .static
      %h1 How Can I Reduce My Carbon Footprint?
      %p There are lots of ways you can reduce your carbon footprint! Some of our favorite ideas can be found here. Even small actions can help: if everyone in the world reduces their carbon footprint--even by only a few pounds--we can collectively have a huge effect on our environmental impact. <!--reword to say stuff about equivalent # of cars or something-->  

      %h3 Reduce, Reuse, Recycle
      %p.detail Reducing, reusing, and recycling are some of the best and easiest ways to reduce your carbon footprint. Greenhouse gases are produced to create every product you buy or use, so using less stuff will reduce your share of that footprint. Some ways you can do this are:
      %ul
        %li <b>Recycle paper and cans</b>. Recycle newspapers and plastic or aluminum drink containers (like soda cans). Use products in contains that can be recycled or items that can be repaired and reused, and buy products made from recycled products.
        %li <b>Save paper</b>. For example, you can reduce the amount of printer ink and paper used by checking for errors <i>before</i> printing, and printing on the back of older unwanted paper.
        %li <b>Properly dispose of e-waste</b>. Electronic waste (such as old computers, TVs, or cell phones) can often contain poisonous chemicals that harm the environment when thrown away. These items can often be recycled. See <a href="http://www.epa.gov/waste/conserve/materials/ecycling/index.htm">the EPA eCycling website</a> for more information.

      %h3 Increase Energy Efficiency
      %p.detail A significant portion of a person's carbon footprint comes from the energy required to heat and power his/her home. Greenhouse gases are released when this energy is produced, even before it gets to the home. Reducing the amount of power your home uses can also reduce your electricity bill! There are many ways you can make your home more energy efficient:  
      %ul
        %li <b>Change to fluorescent light bulbs</b>. These bulbs use less energy and last longer. If every household in the U.S. replaced 5 traditional light bulbs with fluorescent ones, we would prevent greenhouse gases equivalent to the emissions from nearly 10 million cars.
        %li <b>Seal and insulate your home</b>. Sealing air leaks can help keep your home warm in the winter and cool in the summer, thus saving on energy required to heat and cool your home. For more information, see <http://www.energystar.gov/index.cfm?c=home_sealing.hm_improvement_sealing>the ENERGY STAR insulation website</a>.
        %li <b>Reduce the thermostat temperature</b>. Let the house be just a few degrees warmer during the summer. If you have a programmable thermostat, set it to turn off after you leave for work and then turn back on just before you arrive home, so that it isn't cooling the house while no one is there.
        %li <b>Turn power strips off</b>. Most electronics (such as TVs, computers, DVD players, and video game consoles) go into a standby mode even when turned off, and thus continue to draw power even when you're not using them. Turn off the power strip or unplug these items from the wall when you are not using them.
        %li <b>Use water efficiently</b>. Along similar lines, saving water around the home can also help the environment. For water-saving tips, check out the <a href="http://www.epa.gov/watersense/">EPA's WaterSense website</a>.      
      
      %h3 Drive Less
      %p.detail Burning gasoline when driving is a major and well-known source of carbon dioxide and other greenhouse gases, and is an area where people can effectively reduce their carbon footprints.
      %ul
        %li <b>Use alternative transportation</b>. Rather than driving, consider taking public transportation, walking, bicycling, or at least carpooling whenever possible. Leaving your car at home just two days a week will reduce greenhouse gas emissions by an average of 1,600 pounds per year.
        %li <b>Driver smart</b>. You can increase your fuel economy (saving you money while also decreasing your carbon footprint) by adopting a couple of <a href="http://www.fueleconomy.gov/feg/driveHabits.shtml">simple habits</a>.
        %li <b>Maintain old cars</b>. Even though it's tempting to buy a new hybrid, keeping your old car in good running condition takes a less toll on the environment. Building a new car creates a huge carbon footprint which many people do not take into account. In general, it may often be better to keep old items running smoothly than to run out and buy new items.
      
      %h3 Eat Green
      %p.detail The kinds of foods you eat can also have a significant impact on the environment. Much food has to be transported a great distance, and that requires driving or flying. Consider instead:
      %ul
        %li <b>Buy local foods that are in season</b>. This avoids the greenhouse gases produced by shipping food from across the country or even overseas, and reduced the processing energy required for growing out-of-season foods.
        %li <b>Promote meat-free menus</b>. Cutting down on how much meat you eat can reduce the need for livestock--raising livestock produces a significant carbon footprint.
      %p.detail The <a href="http://www.eatlowcarbon.org/">Low Carbon Diet Calculator</a> can also help you figure out the carbon footprint of individual menu items.
      
      %h3 Spread the Word
      %p.detail Being informed is the first step toward reducing your carbon footprint and living a more sustainable life. So one good way to help reduce people's environmental impact is to keep them informed! Tell your friends and family about carbon footprints and carbon calculators. Help others to also learn to make smart, sustainable choices about their lives. 
              
        
      %h2 Other Resources
      %p.detail= link_to('EPA Action Steps - What You Can Do', 'http://www.epa.gov/climatechange/wycd/actionsteps.html')
      %p.detail= link_to('United Nations Environmental Programme Website', 'http://www.unep.org/')
      %p.detail ...more to follow
      
      %br
      %p Some suggestions provided by members of the Spring 2009 ICS 5 class (Nathan Kwok, Ralph Morales, and Lisa Wu).
        