#privacy-policy{:style => "display:none;"}
  %p#privacy-policy-close= link_to_function('Close', '$("#privacy-policy").hide();')
  %p Thanks for visiting Better Carbon! Your privacy is very important to us. 
  %p All information entered into the Better Carbon calculator is used to 1) directly estimate your carbon footprint, and 2) indirectly help provide estimates for future users. <strong>All information you provide will remain strictly anonymous. It will not be shared with anyone, and will be used by the research team only for the purposes of evaluating the system</strong>. If you have any comments, concerns, or questions regarding the conduct of this research, please contact the <a href="mailto:jwross@uci.edu">lead researcher</a>.
  %p The Better Carbon Team
  %p 
