- module_name.possible_inputs.each do |input|
  - if @all_allowed_inputs.include?(input[:name].to_sym)
    = fb_render_field_for_module_input(form, module_name.to_s.gsub(':', ''), input, module_values[input[:name].to_sym][:value], :show_value => module_values[input[:name].to_sym][:calculation] != :average)