= render(:partial => 'facebook/calculator/tab_bar')

- if params[:view].blank? || params[:view] == 'fg'
  = fb_iframe 'http://bettercarbon.com/facebook/calculator/framed_visualization?v=fg', :width => "100%", :height => 800, :frameborder => 0
- elsif params[:view] == 'bg'
  = fb_iframe 'http://bettercarbon.com/facebook/calculator/framed_visualization?v=bg', :width => "100%", :height => 550, :frameborder => 0
- elsif params[:view] == 'fb'
  = fb_iframe 'http://bettercarbon.com/facebook/calculator/framed_visualization?v=fb', :width => "100%", :height => 550, :frameborder => 0
