= image_tag('http://bettercarbon.com/images/logo.gif')
%br
%h1 Better Carbon is a carbon footprint calculator. Find out how much impact you're having on the environment.
%br
%h2
  Click
  = link_to("Calculate your footprint", "/bettercarbon/calculator/calculate")
  and answer a few questions to get your footprint.