= image_tag('logo.gif')
%h1 BetterCarbon is a carbon footprint calculator. Find out how much impact you're having on the environment.
%h2
  Click
  = link_to("Calculate your footprint", "/bettercarbon/calculator/calculate")
  and answer a few questions to get your footprint.