<h1>New user_x</h1>

<% facebook_form_for(@user_x) do |f| %>
  <%= f.error_messages %>

    <%= f.text_field :facebook_uid %>
    <%= f.buttons "Create" %>
<% end %>

<%= link_to 'Back', user_xes_path %>
